[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
dataclasses-json = "*"
python-dateutil = "*"
requests = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
responses = "*"
types-python-dateutil = "*"
